@page
@model LindnerAirlines.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="bgim">
    <h1 style="color:rgb(255, 55, 55)">Book Your Flight Now</h1>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Booking.PassengerName" class="control-label"></label>
                <input asp-for="Booking.PassengerName" class="form-control" />
                <span asp-validation-for="Booking.PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Source" class="control-label"></label>
                <input asp-for="Booking.Source" class="form-control" />
                <span asp-validation-for="Booking.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Destination" class="control-label"></label>
                <input asp-for="Booking.Destination" class="form-control" />
                <span asp-validation-for="Booking.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.SeatClass" class="control-label"></label>
                <select asp-for="Booking.SeatClass" class="form-control">
                    <option value="Economy">Economy</option>
                    <option value="PremiumEconomy">Premium Economy</option>
                    <option value="Business">Business</option>
                    <option value="FirstClass">First Class</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Booking.FlightId" class="control-label"></label>
                <select asp-for="Booking.FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <br />
    <div>
        <a class="btn  btn-sm btn-warning" asp-page="Index">Back to List</a>
    </div>


</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
