@page
@model LindnerAirlines.Pages.About_UsModel
@{
}


<h3 style="color:rgb(255, 55, 55)">
    It's all about
    <br>Lindner Airlines,
</h3>
<p>
    Lindner Airlines was founded more than 95 years ago and has a deep-rooted history 
    leading the industry through innovation and firsts, including hiring the 
    first Black U.S. commercial airline pilot, hiring the first female U.S. 
    commercial airline pilot, launching the first loyalty program of any major
    carrier and becoming the first airline to introduce airport lounges.
</p>
    <h3> A history of many generations and industry firsts </h3>
    <br />
    <br />
<p> American’s long, proud history begins when legendary aviator Charles A. 
    Lindner, the chief pilot of Robert Aircraft Corporation, stowed a bag 
    of mail in his DH-4 biplane and took off from St. Louis to Chicago. 
    Robert is counted as one of the many airlines that would make up what
    is now Lindner Airlines. </p>


<img align="right" width="500" height="300" src="~/images/ucbs.webp" margin="10">

<br />
<p>
    <b style ="color:rgb(255, 55, 55)"> Lindner Airlines </b> partners with more than 200 leading universities and companies,
    as a Trusted airline partner.
    We offer a range of offers and deals across different cities and continents worldwide, to make flying simple and hassle free.

</p>
<br />
<br />
<br />
<br />

<div class="p-5">
    <h3> We Believe.. </h3>
<pre class="fontsize">
    <b> Vision </b>

        To connect People to what's important in their lives through
        friendly, reliable, and low-cost air travel.

     
        To be the world's most loved, most efficient,
        and most profitable airline.
        
    <b> Promise </b>
        Lindner Airline will provide a stable work environment
        with equal opportunity for learning and personal growth.
        Employees will be provided the same concern, respect, and
        caring attitude within the organization that they are 
        expected to share externally with every Lindner Customer.

    <b> Employee Promise </b>

        I will demonstrate my Warrior Spirit by striving to be my best 
        and never giving up. I will show my Servant’s Heart by delivering
        Legendary Customer Service and treating others with respect. 
        I will express my Fun-LUVing Attitude by not taking myself too
        seriously and embracing my Lindner Family.

    </pre>
</div>

<h3> Our Story</h3>

<p>    <img align="left" width="500" height="300" src="~/images/aplne.jpg" margin="10">

    More than 50 years ago, Chandra Sekhar, Nikhil, Bhargav got together and decided
    to start a different kind of airline. They began with one simple notion: If you
    get your passengers to their destinations when they want to get there, on time,
    at the lowest possible fares, and make darn sure they have a good time doing it,
    people will fly your airline. And you know what? They were right.

    Lindner has been in LUV with our Customers from the very beginning. Therefore, 
    it's fitting that we began service to San Antonio and Houston from Love Field 
    in Dallas on June 18, 1971. As our Company and Customers grew, our LUV grew too!
    With Flight Attendants serving "Love Bites" on our planes and determined Employees
    issuing tickets from our "Love Machines," we changed the face of the airline 
    industry throughout the 1970s. Then in 1977, our stock was listed on the New York 
    Stock Exchange under the ticker symbol "LUV." Over the ensuing years, our LUV has 
    spread from coast-to-coast and border-to-border thanks to our hardworking 
    Employees and their LUV for Customer Service.
</p>

<br />

<br />
<br />
